*{
  margin: 0;
  padding: 0;
}

/* ------------------------
    General
------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@400;600;700;800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500; 
  font-size: 14px;
  color: #333333;
  background-color: #fffef2;
}

section {
  display: block;
}

img {
  max-width: 100% !important;
}

button:focus {
  outline: none !important;
}

/* ------------------------
    Typography
------------------------*/
h1, h2, h3, h4, h5, h6{font-family: 'Montserrat', sans-serif; font-weight:normal; margin-top: 0px; margin-bottom: 0px; letter-spacing: 1px;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
h1 { font-family: 'Montserrat', sans-serif; font-size: 64px; font-style: normal; font-weight: 700; color: #333333;}
h2 { font-family: 'Montserrat', sans-serif; font-size: 56px; font-style: normal; font-weight: 600; color: #333333;}
h3 { font-family: 'Montserrat', sans-serif; font-size: 48px; font-style: normal; font-weight: 600; color: #333333;}
h4 { font-family: 'Montserrat', sans-serif; font-size: 40px; font-style: normal; font-weight: 600; color: #333333;}
h5 { font-family: 'Montserrat', sans-serif; font-size: 30px; font-style: normal; font-weight: 600; color: #333333;}
h6 { font-family: 'Montserrat', sans-serif; font-size: 24px; font-style: normal; font-weight: 600; color: #333333;}

a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: #333333;
  text-decoration: none;
}

/*
  Hyperlinks underline
*/
.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}

.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -2px;
  background: #000;
  height: 1px;
  transition-property: left right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
}

/* 
    Sections
*/
/* 
    Section and section header
*/
.section {
  margin: 8% 0;
}

@media only screen and (max-width: 768px) {
  .section {
    margin: 16% 0;
  }
}

main .container-fluid {
  padding: 0 48px !important;
}

@media only screen and (max-width: 600px) {
  main .container-fluid {
    padding: 0 24px !important;
  }
}

/* 
    Banner section
*/
#banner {
  color: #fffef2;
  background: #252525;
  text-align: center;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  #banner {
    height: 65px;
  }
}

#banner span {
  cursor: pointer;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 0.3s;
  padding-bottom: 4px;
  border-bottom-color: transparent; 
  border-bottom-style: solid; 
  border-bottom-width: 1px; 
  width: fit-content; 
  text-align: center;
}

#banner span:hover {
  padding-bottom: 4px;
  border-bottom-color: #fffef2; 
  border-bottom-style: solid; 
  border-bottom-width: 1px; 
  width: fit-content; 
  text-align: center;
}

#banner span i {
  font-size: 12px;
  color: #dddcd3;
  margin-left: 14px;
}

/* 
    Navbar
*/
#header .navbar {
  width: 100%;
  padding: 24px 16px;
  display: flex;
  position: fixed;
  top: 30;
  transition: top 0.6s;
}

#header .navbarScroll {
  width: 100%;
  padding: 24px 16px;
  display: flex;
  position: fixed;
  top: 0;
  background-color: #fffef2;
  border-bottom: 1px solid rgba(51,51,51,.2);
  z-index: 10;
  transition: top 0.6s;
}

#header .navbar--hidden {
  top: -80px;
}

#header nav div a {
  margin: 20px 16px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

#headerMobile .navbar {
  width: 100%;
  padding: 24px 8px;
  display: flex;
  position: fixed;
  top: 30;
  transition: top 0.6s;
}

#headerMobile .navbarScroll {
  width: 100%;
  padding: 24px 8px;
  display: flex;
  position: fixed;
  top: 0;
  background-color: #fffef2;
  border-bottom: 1px solid rgba(51,51,51,.2);
  z-index: 10;
  transition: top 0.6s;
}

#headerMobile .navbar--hidden {
  top: -80px;
}

#headerMobile nav div a {
  padding: 20px 16px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

#headerMobile nav div a img {
  width: 80px;
}

#headerMobile nav div button {
  background-color: transparent;
  border: 0;
}

/* 
    Mobile sidebar
*/
#headerMobile .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: #fffef2;
  overflow-x: hidden;
  padding-top: 24px;
  text-align: left;
}

#headerMobile .sidenav button {
  border: 0;
  background: transparent;
}

#headerMobile .sidenav button i {
  font-size: 14px;
  color: #333333;
}

#headerMobile .sidenav .d-flex {
  padding: 0 16px;
  margin-bottom: 48px;
}

#headerMobile .sidenav .d-flex a {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 500;
}

#headerMobile .sidenav .d-flex img {
  width: 80px;
}

#headerMobile .sidenav a {
  padding: 8px 8px 4px 16px;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  display: block;
  transition: 0.3s;
}

#headerMobile .sidenav a:hover{
  color: #333333;
}

#headerMobile .sidenav .sub-links a {
  font-weight: 500;
  color: #575757;
  font-size: 14px;
}

#headerMobile .sidenav .footer-links {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

@media screen and (max-height: 450px) {
  #headerMobile .sidenav {padding-top: 15px;}
  #headerMobile .sidenav a {font-size: 18px;}
}

/* 
    Product description section
*/
@media only screen and (max-width: 600px) {
  #product-desc .d-flex img.main-logo {
    display: none;
  }
}

#product-desc .ml-auto p {
  text-align: center;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  #product-desc .ml-auto {
    margin: 0 auto !important;
  }
  #product-desc .ml-auto img {
    width: 500px;
  }
}

@media only screen and (min-width: 992px) {
  #product-desc .ml-auto img {
    width: 625px;
  }
}

@media only screen and (min-width: 768px) {
  #product-desc .product-info {
    width: 80%;
  }
}

#product-desc .breadcrumb {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

#product-desc .breadcrumb-item+.breadcrumb-item::before {
  content: "•" !important;
  font-size: 14px;
}

#product-desc .product-info .content h6 {
  font-size: 14px;
}

#product-desc .product-info .btn {
  padding: 18px 0;
  font-size: 14px;
  margin: 24px 0;
}

/* 
    Consultation section
*/
#consultation div.container-fluid {
  width: 30%;
}

@media only screen and (max-width: 768px) {
  #consultation div.container-fluid {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  #consultation div.container-fluid {
    width: 100%;
  }
}

#consultation h6 {
  font-size: 14px;
  font-weight: 600;
}

/* 
    How to use section
*/
#howtouse {
  background: #f6f5e8;
}

#howtouse div.quote-img {
  background: #ded5cb;
}

#howtouse .row {
  margin: 0 !important;
}

#howtouse div.align-items-center {
  height: 100%;
}

#howtouse .description {
  padding: 0 16%;
}

@media only screen and (max-width: 992px) {
  #howtouse .description {
    margin-top: 16%;
  }
}

@media only screen and (max-width: 600px) {
  #howtouse .description {
    padding: 0 8%;
  }
}

#howtouse .description h5 {
  margin-top: 12px;
  font-weight: 500;
}

#howtouse .description h6 {
  font-size: 14px;
}

/* 
    Footer
*/
#footer {
  background-color: #252525;
  color: #fffef2;
}

#footer .footer-content {
  padding: 32px 48px;
}

#footer .footer-content h5 {
  color: #fffef2;
  font-weight: 500;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  #footer .footer-content{
    padding: 32px 24px !important;
  }
}

#footer ::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
  color: #fffef2;
  background-color: #252525;
  align-items: center !important;
  align-content: center !important;
  padding: 0 !important;
  margin: 0 !important;
}

#footer .email-box {
  background: transparent;
  border: 1px solid #fffef2;
  border-radius: 5px;
  box-sizing: border-box;
}

#footer .input-field {
  border: 0;
  background-color: #252525;
  color: #fffef2;
  border-radius: 5px;
}

#footer .input-field:focus{
  box-shadow: 0 0 1px 0px #252525 !important;
  border: 0;
  outline: none;
}

#footer .submit-btn{
  background-color: transparent;
  color: #ffffff;
  width: 100%;
  border: 0;
  font-size: 16px;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

@media only screen and (max-width: 600px) {
  #footer .submit-btn {
    padding: 4px 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
}

#footer .invalid-feedback {
  text-align: center;
}

#footer .heading {
  padding-bottom: 16px;
  margin-top: 8px;
  border-bottom-color: #fffef2; 
  border-bottom-style: solid; 
  color: #fffef2;
  border-bottom-width: 1px; 
  width: 100%; 
  border-radius: 0;
  font-size: 15px;
}

#footer ul {
  margin-top: 18px;
}

#footer ul li {
  list-style-type: none;
  margin: 12px 0;
}

#footer ul li a {
  color: #fffef2;
}

#footer ul li a i {
  font-size: 12px;
  margin-left: 4px;
}

/* 
    Carousel section
*/
#carousel-section .item {
  padding: 0 24px;
}

#carousel-section .item .align-items-end {
  height: 50vh;
}

@media only screen and (max-width: 768px) {
  #carousel-section .item .align-items-end {
    height: 32vh;
  }
}

@media only screen and (max-width: 600px) {
  #carousel-section .item .align-items-end {
    height: 42vh;
  }
}

#carousel-section .item .align-items-end img {
  width: 90%;
}

#carousel-section .item h6 {
  font-size: 14px;
  text-align: center;
  margin-bottom: 16px;
}

#carousel-section .item .mx-auto:hover h6 {
  text-decoration: underline;
}

#carousel-section .owl-nav {
  display: block !important;
}

#carousel-section .owl-theme .owl-dots {
  display: block;
}

#carousel-section .owl-carousel .owl-nav button.owl-next span, #carousel-section .owl-carousel .owl-nav button.owl-prev span {
  visibility: hidden;
}

#carousel-section .owl-carousel .owl-nav button.owl-next::after {
  content: '→';
  font-size: 24px;
  margin-left: -4px;
}

#carousel-section .owl-carousel .owl-nav button.owl-prev::after {
  content: '←';
  font-size: 24px;
  margin-left: -2px;
}

#carousel-section .owl-carousel .owl-nav button.owl-prev, #carousel-section .owl-carousel .owl-nav button.owl-next {
  background-color: #fff;
  width: 40px;
  height: 40px;
  color: #DED5C8;
  border: 2px solid #DED5C8;
  border-radius: 50%;
}

#carousel-section .owl-carousel .owl-nav button.owl-prev:hover, #carousel-section .owl-carousel .owl-nav button.owl-next:hover {
  background-color: #DED5C8;
  color: #fff;
}

/* 
    Chat Btn
*/
button.chat-btn {
  border: 0;
  background: transparent;
}

.chat-btn:hover {
	color: #fff !important;
	background-color: #333333 !important  ;
	text-decoration: none;
}
 
.chat-btn {
	display: none;
	position: fixed;
	bottom: 90px;
	right: 50px;
  width: 2.2rem;
  z-index: 30;
	height: 2.2rem;
	line-height: 2.1rem;
	font-size: 1.4rem;
	color: #fff;
	background-color: #333333 !important;
	text-decoration: none;
	border-radius: 3.2rem;
	text-align: center;
	cursor: pointer;
}